@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer components {
  .each_section {
    @apply flex flex-row justify-center items-center w-10/12 max-w-screen-2xl mx-auto h-20;
  }

  .pop {
    font-family: poppins;
  }
  .nav_btn {
    font-family: poppins;
    @apply text-[16px] pop font-medium text-gray-900 dark:text-white hover:text-blue-500 dark:hover:text-blue-500;
  }
  .logo_top {
    @apply text-[32px] font-bold pop text-gray-900 dark:text-white;
  }
  .cv_btn {
    @apply text-[16px] pop font-medium dark:text-white px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-500;
  }
  .nav_hddeb {
    @apply absolute top-0 right-0 h-screen mt-6 w-2/3 hidden md:hidden flex-col justify-start bg-gray-100 items-start px-14 py-14 gap-6 transform duration-700;
  }
  .dark_nav_hidden_btn {
    @apply nav_btn dark:text-gray-900;
  }
  .div_card_services {
    @apply w-full h-[310px] md:h-full md:w-[310px] rounded-lg bg-gray-100 justify-center items-center flex flex-col px-4 hover:shadow-lg transform duration-500;
  }
  .div_card_projects {
    @apply w-full h-[400px] md:h-full md:w-[400px] rounded-lg bg-gray-100 justify-center items-center flex flex-col hover:shadow-lg transform duration-500 border-2 border-blue-500;
    transition: opacity 0.5s ease;
  }
  .div_card_projects:hover {
    opacity: 0.9;
  }
}
